<!-- templates/home.html-->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div>
    {% if user.is_authenticated %}
    <p>Current user: {{user}}</p>
    <p>User: {{user.get_full_name}}</p>
    <p>Email: {{user.email}}</p>
    <form action="{% url 'oidc_logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
    {% else %}
    <a href="{% url 'oidc_authentication_init' %}">Login</a>
    {% endif %}
</div>

{% endblock %}