<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url "home" %}">Keycloak</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% with request.resolver_match.url_name as url_name %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'dashboard' %}active{% endif %}"
                        href="{% url "dashboard" %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'protected' %}active{% endif %}"
                        href="{% url "protected" %}">Protected Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'public' %}active{% endif %}" href="{% url "public" %}">
                        Public Page</a>
                </li>
            </ul>
            {% endwith %}

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            {% if user.is_authenticated %}
            {% comment %} <form action="{% url 'oidc_logout' %}" method="post">
                {% csrf_token %}
                <button id="btnLogout" class="btn btn-danger mx-2" type="submit">
                    <i id="loader" class=""></i> Logout
                </button>
            </form> {% endcomment %}
            <button id="btnLogout" class="btn btn-danger mx-2" type="button">
                <i id="loader" class=""></i> Logout
            </button>
            {% comment %} <a class="btn btn-success mx-2" href="{% url 'logout' %}">Logout 2</a> {% endcomment %}
            {% else %}
            <a class="btn btn-success mx-2" href="{% url 'oidc_authentication_init' %}">Login</a>
            {% endif %}

        </div>
    </div>
</nav>