<!-- templates/home.html-->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div>
    {% if user.is_authenticated %}
    <p>Current user: {{user}}</p>
    <p>User: {{user.get_full_name}}</p>
    <p>Email: {{user.email}}</p>
    {% comment %} <form action="{% url 'oidc_logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form> {% endcomment %}
    <p>
        <a href="{% url 'oidc_logout' %}">Logout</a>
    </p>
    {% else %}
    <a href="{% url 'oidc_authentication_init' %}">Login</a>
    {% endif %}

    <p>
        <a href="{% url "public" %}">Public Page</a>
    </p>
    <p>
        <a href="{% url "protected" %}">Protected Page</a>
    </p>
</div>

{% endblock %}